/* CSS base */
/* Inclua suas regras de estilo que se aplicam a todas as telas aqui */

/* Media query para telas maiores (por exemplo, 1440px - 1024px) */
@media (min-width: 1024px) and (max-width: 1440px) {
    #form_header h1 {
        font-size: 30px;
    }

    #login_form {
        width: 100%;
        margin-top: 50px;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        font-size: 16px;
    }
}

/* Media query para telas médias (por exemplo, 1024px - 768px) */
@media (min-width: 768px) and (max-width: 1024px), (max-height: 724px) {
    #form_header h1 {
        font-size: 30px;
    }

    #login_form {
        width: 100%;
        margin-top: 200px;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        font-size: 16px;
    }
}

/* Media query para telas pequenas (por exemplo, menor que 768px) */
@media (max-width: 768px) {
    #form_header h1 {
        font-size: 30px;
    }

    #login_form {
        width: 100%;
        margin-top: 160px;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        font-size: 16px;
    }
}

/* Media query para telas muito pequenas (por exemplo, menor que 480px) */
@media (max-width: 480px) {
    #form_header h1 {
        font-size: 24px;
    }
}
