@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400&display=swap%27%29%3B);

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.form-container {
    max-width: 600px;
    height: fit-content;
    background-color: #fff;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: #212121;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);

    /* Centraliza o formulário horizontalmente e verticalmente */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .logo-container {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #ccc;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #1778f2;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: #fff;
    background-color: #212121;
    border: none;
    width: 100%;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #313131;
  }
  
  .form-container .link {
    color: #1778f2;
    text-decoration: none;
  }
  
  .form-container .signup-link {
    align-self: center;
    font-weight: 500;
  }
  
  .form-container .signup-link .link {
    font-weight: 400;
  }
  
  .form-container .link:hover {
    text-decoration: underline;
  }

 /* Modifique o CSS do pop-up (classe .confirmation) */
  .confirmation {
  display: none;
  background-color: #4CAF50;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed; /* Altere para 'fixed' para posicionar acima de tudo */
  top: 10px; /* Ajuste a posição vertical como desejado */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1001; /* Aumente o z-index para ficar acima do container */
  border-radius: 5px;
  animation: fadeOut 3s ease-in-out;
  }

  /* O restante do seu CSS permanece inalterado */


  @keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }

  